#CourseContent {
  margin-left: 50px;
  display: inline-flex;
  width: 100%;
  margin-top: 350px;
}

#Instructor {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  display: inline-flex;
}

#Reviews {
  margin-left: 50px;
  display: inline-flex;
}

#TopSection {
  display: inline-flex;
}

